In [ ]:
class EvenCounter:
    def __init__(self):
        self.n = 0

    def __iter__(self):
        return self

    def __next__(self):
        result = self.n * 2
        self.n += 1
        return result


my_even = EvenCounter()

for i in range(5):
    print(my_even.__next__(), end=" ")

print("\n")

my_even.n = 0

for i in range(11):
    print(next(my_even), end=" ")

0 2 4 6 8

0 2 4 6 8 10 12 14 16 18 20

In [ ]:
class EvenNumber:
    def __init__(self, n):
        self.n = n

    def getN(self):
        if self.n % 2 == 0:
            return self.n


list_even = [EvenNumber(n) for n in range(2, 21, 2)]

for i in list_even:
    print(i.getN(), end=" ")

2 4 6 8 10 12 14 16 18 20

In [23]:
char_list = list("Hello")
char_list

['H', 'e', 'l', 'l', 'o']

In [25]:
words = "Python is a programming language"
words_list = words.split()
words_list

['Python', 'is', 'a', 'programming', 'language']

In [ ]:
time_str = "25-04-07 09:49:20"

date_part, time_part = time_str.split()

date_parts = date_part.split("-")
time_parts = time_part.split(":")

time_str2 = date_parts + time_parts

print(time_str2)

['25', '04', '07', '09', '49', '20']

In [19]:
import random

print(random.random())

for i in range(10):
    print(random.randint(1, 6), end=" ")

0.8306266876156869
4 3 4 4 5 2 4 6 5 5

In [23]:
import random

L = [1, 10, 100, 1000, 10000]

print(random.choice(L))
print(random.sample(L, 3))

random.shuffle(L)
print(L)

10
[10000, 10, 1000]
[1, 10000, 1000, 100, 10]

In [26]:
s1, s2 = input("문자열 2개를 입력해주세요.").split()

print(f"s1: {s1}, s2: {s2}")

s1: hello, s2: kitty

In [29]:
num1, num2, num3 = map(int, input("정수 3개를 입력해주세요.").split())
print(f"num1: {num1}, num2: {num2}, num3: {num3}")

num1: 3, num2: 14, num3: 1592

In [32]:
num4, num5, num6 = map(int, input("정수 3개를 ','로 구분하여 입력해주세요.").split(","))
print(f"num4: {num4}, num5: {num5}, num6: {num6}")

num4: 3, num5: 14, num6: 15926

In [45]:
eval("print(1 + 2)")
eval("(50 * 2) / 2")

3

50.0

In [46]:
print(chr(65))
print(ord("A"))

A
65

In [1]:
cr = input("3명의 국어 점수 (예 51,67,98) 입력:")
k1, k2, k3 = eval(cr)
print(f"합계: {k1 + k2 + k3}")

합계: 217

In [ ]:
xx = input(
    "사용자가 입력한 수열을 받아 평균을 출력해줍니다. 수열을 입력하세요: 예 1,2,3"
)
zz = xx.split(",")


def cal(a):
    result = 0
    count = 0
    while a:
        mark = a.pop()
        z = int(mark)
        result += z
        count += 1
    average = result / count
    return average


print(cal(zz))

200.0

In [ ]:
xxx = input(
    "사용자가 입력한 수열을 받아 평균을 출력해줍니다. 수열을 입력하세요: 예 1,2,3"
)
zzz = xx.split(",")


def cal(a):
    result = 0
    count = 0
    for mark in a:
        z = int(mark)
        result += z
        count += 1
    average = result / count
    return average


print(cal(zzz))

200.0

In [10]:
a = input("곱할 숫자1:")
b = input("곱할 숫자2:")
result = int(a) * int(b)
print(f"{a} * {b} = {result}")

77 * 7 = 539

In [3]:
greet = "Hello"
"{} WORLD!".format(greet)

'Hello WORLD!'

In [5]:
name = "Hong GilDong"
print("My name is {}".format(name))

My name is Hong GilDong

In [ ]:
name = input("당신의 이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
job = input("직업을 입력해주세요 : ")
print("당신의 이름은 {}이고, 나이는 {}세이며, 직업은 {}입니다.".format(name, age, job))
print(f"당신의 이름은 {name}이고, 나이는 {age}세이며, 직업은 {job}입니다.")
print("당신의 이름은 %s이고, 나이는 %s세이며, 직업은 %s입니다." % (name, age, job))

당신의 이름은 송예은이고, 나이는 33세이며, 직업은 학생입니다.
당신의 이름은 송예은이고, 나이는 33세이며, 직업은 학생입니다.
당신의 이름은 송예은이고, 나이는 33세이며, 직업은 학생입니다.

In [10]:
name2 = input("당신의 이름을 입력해주세요 : ")
age2 = input("나이를 입력해주세요 : ")
job2 = input("직업을 입력해주세요 : ")
address2 = input("사는 곳을 입력해주세요 : ")

print(
    f"당신의 이름은 {name2}, 나이는 {age2}살, 직업은 {job2}, 사는 곳은 {address2}입니다."
)

당신의 이름은 송예은, 나이는 33살, 직업은 학생, 사는 곳은 인천입니다.

In [ ]:
for i in range(2, 15, 2):
    print("{0} {1} {2}".format(i, i * i, i * i * i))

2 4 8
4 16 64
6 36 216
8 64 512
10 100 1000
12 144 1728
14 196 2744

In [18]:
for i in range(2, 15, 2):
    print("{0:3d} {1:4d} {2:5d}".format(i, i * i, i * i * i))

  2    4     8
  4   16    64
  6   36   216
  8   64   512
 10  100  1000
 12  144  1728
 14  196  2744

In [21]:
print("1/3은 {:.3f}".format(1 / 3))

print("{:,}".format(1234567890))

1/3은 0.333
1,234,567,890

In [27]:
print("위도: {0}, 경도: {1}".format("35.17N", "129.07E"))
print(
    "위도: {latitude}, 경도: {longitude}".format(latitude="35.17N", longitude="129.07E")
)
print(
    "위도: {latitude}, 경도: {longitude}".format(longitude="129.07E", latitude="35.17N")
)

위도: 35.17N, 경도: 129.07E
위도: 35.17N, 경도: 129.07E
위도: 35.17N, 경도: 129.07E

In [ ]:
input1 = input("첫 번째 숫자를 입력하세요: ")
input2 = input("두 번째 숫자를 입력하세요: ")

total1 = input1 + input2
print("두 수의 합은 %s 입니다." % total1)

두 수의 합은 311 입니다.

In [30]:
input3 = input("첫 번째 숫자를 입력하세요: ")
input4 = input("두 번째 숫자를 입력하세요: ")

total2 = int(input3) + int(input4)
print("두 수의 합은 %d 입니다." % total2)

두 수의 합은 14 입니다.

In [33]:
print("youneedpython")
print("you" + "need" + "python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))
print(" ".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython
you need python

In [44]:
sum1 = input("','로 구분하여 숫자를 입력하세요. 예: 1,2,3,4,5: ")
sum_list = sum1.split(",")

total = 0

for i in sum_list:
    total += int(i)

print(total)

168