In [2]:
set0 = set()
set1 = {1, 2, 3, 4}

n_tuple = (1, 2, 3, 4)
set2 = set(n_tuple)

n_list = [1, 2, 3, 4]
set3 = set(n_list)

print(set0)  # set()
print(set1)  # {1, 2, 3, 4}
print(set2)  # {1, 2, 3, 4}
print(set3)  # {1, 2, 3, 4}
print(type(set0))  # <class 'set'>
print(type(set1))  # <class 'set'>
print(type(set2))  # <class 'set'>
print(type(set3))  # <class 'set'>

set()
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

In [ ]:
days_list = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
days_set = set(days_list)

print(days_set)  # {'Mon', 'Fri', 'Sat', 'Thu', 'Sun', 'Tue', 'Wed'} -- order may vary

fruits_tuple = ("apple", "banana", "cherry")
fruits_set = set(fruits_tuple)
print(fruits_set)  # {'cherry', 'banana', 'apple'}

{'Mon', 'Fri', 'Sat', 'Thu', 'Sun', 'Tue', 'Wed'}
{'cherry', 'banana', 'apple'}

In [ ]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

s1 & s2  # {4, 5, 6}
s1.intersection(s2)  # {4, 5, 6}

s1 | s2  # {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1.union(s2)  # {1, 2, 3, 4, 5, 6, 7, 8, 9}

s1 - s2  # {1, 2, 3}
s1.difference(s2)  # {1, 2, 3}

s1.add(7)  # {1, 2, 3, 4, 5, 6, 7}
s1.discard(7)  # {1, 2, 3, 4, 5, 6}

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

b = set(a)  # {1, 2, 3, 4, 5}
print(b)  # {1, 2, 3, 4, 5}

s1 = set(["a", "b", "c", "d", "e"])
s2 = set(["c", "d", "e", "f", "g"])

s1 - s2  # {'a', 'b'}
print(s1 - s2)  # {'a', 'b'}

a = {}
print(type(a))  # <class 'dict'>

a = set()
print(type(a))  # <class 'set'>

{1, 2, 3, 4, 5}
{'b', 'a'}
<class 'dict'>
<class 'set'>

In [ ]:
bool(" ")  # True
bool(1)  # True
bool(0)  # False
bool(412)  # True
bool([])  # False
bool(None)  # False
bool({})  # False
bool(set())  # False

False

In [ ]:
1 != 1  # False
3 > 1  # True
"a" in "abc"  # True
"a" not in [1, 2, 3]  # True
"길동" in "홍길동"  # True

True

In [ ]:
a = "python"
b = ""
c = (1, 2, 3)
d = 0

bool(a)  # True
bool(b)  # False
bool(c)  # True
bool(d)  # False

False

In [47]:
a = [1, 2, 3]

b = a

print(a)  # [1, 2, 3]
print(b)  # [1, 2, 3]

a[0] = 4
print(a)  # [4, 2, 3]
print(b)  # [4, 2, 3]

a = [1, 2, 3]

b = a.copy()
print(a)  # [1, 2, 3]
print(b)  # [1, 2, 3]

a[0] = 4
print(a)  # [4, 2, 3]
print(b)  # [1, 2, 3]

a = [1, 2, 3]
b = a.copy()
print(a)  # [1, 2, 3]
print(b)  # [1, 2, 3]

b[0] = 4
print(a)  # [1, 2, 3]
print(b)  # [4, 2, 3]

[1, 2, 3]
[1, 2, 3]
[4, 2, 3]
[4, 2, 3]
[1, 2, 3]
[1, 2, 3]
[4, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[4, 2, 3]

In [ ]:
original = [[1, 2], [3, 4]]
shallow = original.copy()

# 복사 후 상태
print(original)  # [[1, 2], [3, 4]]
print(shallow)  # [[1, 2], [3, 4]]

shallow[0][0] = 99
print(original)  # [[99, 2], [3, 4]]  <- 원본도 바뀜!

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]
[[99, 2], [3, 4]]

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b  # False
id(a) != id(b)  # True

print(id(a))
print(id(b))

1728372295104
1728358513152

In [ ]:
str1 = input("정수를 입력하세요:")

while str1.isdigit() == False:  # noqa: E712
    print("정수가 아닙니다. 정수를 입력하세요.")
    str1 = input("정수를 입력하세요:")

print("n =", str1)
num = int(str1)

if num % 2 == 0:
    print(f"{num}은(는) 짝수입니다.")
else:
    print(f"{num}은(는) 홀수입니다.")

정수가 아닙니다. 정수를 입력하세요.
n = 30
30은(는) 짝수입니다.

In [19]:
while True:
    user_input = input("정수를 입력하세요: ")
    try:
        num = int(user_input)
        break
    except ValueError:
        print("정수가 아닙니다. 다시 입력하세요.")

print("n =", num)

if num % 2 == 0:
    print(f"{num}은(는) 짝수입니다.")
else:
    print(f"{num}은(는) 홀수입니다.")

정수가 아닙니다. 다시 입력하세요.
n = -4
-4은(는) 짝수입니다.

In [29]:
num = 100
if num < 0:
    print(f"{num}은(는) 음수입니다.")
elif num == 0:
    print("0입니다.")
else:
    if num % 2 == 0:
        print(f"{num}은(는) 짝수입니다.")
    else:
        print(f"{num}은(는) 홀수입니다.")

100은(는) 짝수입니다.

In [34]:
age = 12

if 10 < age < 19:
    print("청소년입니다.")

청소년입니다.

In [ ]:
score = int(input("점수를 입력하세요: "))
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"당신의 등급은 {grade}입니다.")

당신의 등급은 A입니다.

In [ ]:
speed = int(input("당신의 자동차의 속도(km/h)는 얼마입니까?"))

if speed >= 100:
    ret = "고속"
elif speed >= 60:
    ret = "중속"
else:
    ret = "저속"

print(f"당신의 자동차는 {ret} 주행 중입니다.")

당신의 자동차는 저속 주행 중입니다.

In [ ]:
money = 5000
card = False

if card == True or money >= 4000:  # noqa: E712
    print("택시를 탈 수 있습니다.")
else:
    print("택시를 탈 수 없습니다.")

택시를 탈 수 있습니다.

In [ ]:
st = "Programming"

for ch in st:
    if ch in ["a", "e", "i", "o", "u"]:
        continue
    print(ch)

print("The end")

P
r
g
r
m
m
n
g
The end

In [13]:
tree_hit = 0
while tree_hit < 10:
    tree_hit = tree_hit + 1
    print(f"나무를 {tree_hit}번 찍었습니다.")
    if tree_hit == 10:
        print("나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [17]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:

1. Add
2. Del
3. List
4. Quit

Enter number:

In [ ]:
"""
커피의 초기값은 3이다.
커피 한 잔 값은 300원이다.
300원보다 많이 넣으면 커피를 주고 거스름돈을 준다.
300원보다 적은 돈을 입력하면 돈을 다시 돌려주고 커피를 주지 않는다.
    남은 커피를 출력한다.
커피가 다 떨어지면 자판기는 중지한다.
"""

coffee = 3

while True:
    money = int(input("돈을 넣어주세요: "))

    if money == 300 and coffee > 0:
        coffee -= 1
        print("커피 한 잔을 드리겠습니다.")
    elif money > 300 and coffee > 0:
        coffee -= 1
        change = money - 300
        print(f"커피 한 잔과 거스름돈 {change}원을 드리겠습니다.")
    else:
        print("돈을 다시 돌려드립니다. 커피를 드릴 수 없습니다.")
        print(f"남은 커피는 {coffee}잔입니다.")
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 자판기를 중지합니다.")
        break

커피 한 잔과 거스름돈 900원을 드리겠습니다.
커피 한 잔과 거스름돈 600원을 드리겠습니다.
커피 한 잔과 거스름돈 300원을 드리겠습니다.
커피가 다 떨어졌습니다. 자판기를 중지합니다.

In [ ]:
"""
1부터 100까지 자연수를 모두 더하고 그 결과를 출력하세요. (1, 2, 3, ..., 100)
"""

sum1 = 0
for i in range(1, 101):
    sum1 += i
print(f"1부터 100까지의 합은 {sum1}입니다.")

sum2 = 0
n = 100
sum2 = n * (n + 1) // 2
print(f"1부터 100까지의 합은 {sum2}입니다.")

1부터 100까지의 합은 5050입니다.
1부터 100까지의 합은 5050입니다.

In [ ]:
"""
1부터 100까지의 자연수 중에서 3의 배수의 합을 구하세요. (3, 6, 9, ..., 99)
"""

sum3 = 0
for i in range(1, 101):
    if i % 3 == 0:
        sum3 += i
print(f"1부터 100까지의 자연수 중에서 3의 배수의 합은 {sum3}입니다.")

sum4 = 0
for i in range(3, 101, 3):
    sum4 += i
print(f"1부터 100까지의 자연수 중에서 3의 배수의 합은 {sum4}입니다.")

1부터 100까지의 자연수 중에서 3의 배수의 합은 1683입니다.
1부터 100까지의 자연수 중에서 3의 배수의 합은 1683입니다.

In [35]:
"""
A반 학생들의 점수 리스트에서 50점 이상인 학생의 점수의 총합을 구해보세요.
"""

A = [23, 50, 100, 45, 67, 89, 12, 34, 56, 78]

sum5 = 0
for score in A:
    if score >= 50:
        sum5 += score
print(f"A반 학생들의 점수 중 50점 이상인 학생의 점수의 총합은 {sum5}입니다.")

A반 학생들의 점수 중 50점 이상인 학생의 점수의 총합은 440입니다.

In [44]:
"""
while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해보세요.
*
**
***
****
"""
star = 0
while True:
    if star < 5:
        print("*" * star)
        star += 1
    else:
        break

*
**
***
****

In [ ]:
summer_fruits = ["수박", "참외", "체리", "포도"]

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i}x{j}={i * j:2d}", end=" ")
    print()

2x1= 2 2x2= 4 2x3= 6 2x4= 8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18
3x1= 3 3x2= 6 3x3= 9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27
4x1= 4 4x2= 8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36
5x1= 5 5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45
6x1= 6 6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54
7x1= 7 7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63
8x1= 8 8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72
9x1= 9 9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81