In [7]:
fruits = ['banana', 'apple', 'orange', 'kiwi']
print(fruits)
print(type(fruits))

mixed_list = [100, 200, 'apple', 400]
print(mixed_list)
print(type(mixed_list))

['banana', 'apple', 'orange', 'kiwi']
<class 'list'>
[100, 200, 'apple', 400]
<class 'list'>

In [12]:
list1 = list()
print(list1)

list2 = []
print(list2)

list3 = list((1, 2, 3))
print(list3)

list4 = list(range(1, 10))
print(list4)

list5 = list('HELLO')
print(list5)

[]
[]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['H', 'E', 'L', 'L', 'O']

In [30]:
even_list = [2, 4, 6, 8, 10]
print(even_list)

even_list2 = list(range(2, 11, 2))
print(even_list2)

nations = ['Korea', 'China', 'India', 'Nepal']
print('nations = ', nations)

friends = ['다희', '서윤', '미현', '혜진', '은']
print('friends = ', friends)

prime_list = [2, 3, 5, 7]
print('prime_list의 첫 원소 :', prime_list[0])
print(f'prime_list의 첫 원소 : {prime_list[0]}')
print('prime_list의 첫 원소 : %d' % prime_list[0])
print('prime_list의 첫 원소 : {}'.format(prime_list[0]))

print('prime_list의 마지막 원소 :', prime_list[3])
print('prime_list의 마지막 원소 :', prime_list[-1])

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
nations =  ['Korea', 'China', 'India', 'Nepal']
friends =  ['다희', '서윤', '미현', '혜진', '은']
prime_list의 첫 원소 : 2
prime_list의 첫 원소 : 2
prime_list의 첫 원소 : 2
prime_list의 첫 원소 : 2
prime_list의 마지막 원소 : 7
prime_list의 마지막 원소 : 7

In [33]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('nations의 첫 원소 :', nations[0])

print('nations의 마지막 원소 :', nations[3])
print('nations의 마지막 원소 :', nations[-1])

nations의 첫 원소 : Korea
nations의 마지막 원소 : Malaysia
nations의 마지막 원소 : Malaysia

In [49]:
n_list = list(range(15))
print(n_list)

s_list1 = n_list[:5]
print(s_list1)

s_list2 = n_list[5:11]
print(s_list2)

s_list3 = n_list[11:]
print(s_list3)

s_list4 = n_list[2:11:2]
print(s_list4)

s_list5 = n_list[10:5:-1]
print(s_list5)

s_list6 = n_list[10:1:-2]
print(s_list6)

rn_list = n_list[::-1]
print(rn_list)

srn_list1 = rn_list[4:13:2]
print(srn_list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[11, 12, 13, 14]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6]
[10, 8, 6, 4, 2]
[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[10, 8, 6, 4, 2]

In [68]:
a = [1, 2, 3]
b = [4, 5, 6]
print('a :', a)
print('b :', b)
print('a + b :', a + b)
print('a * 3 :',a * 3)
print('a * 2 + b * 2 :', a * 2 + b * 2)

stra = str(a) + 'hi'
print('str(a) + \'hi\' :', stra)

a : [1, 2, 3]
b : [4, 5, 6]
a + b : [1, 2, 3, 4, 5, 6]
a * 3 : [1, 2, 3, 1, 2, 3, 1, 2, 3]
a * 2 + b * 2 : [1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6]
str(a) + 'hi' : [1, 2, 3]hi

In [72]:
list1 = [1, 2, 3, 4]
list2 = [1, 2, 3, 4]
list3 = [4, 3, 2, 1]

print('list1 :', list1)
print('list2 :', list2)
print('list3 :', list3)
print('list1 == list2 :', list1 == list2)
print('list1 == list3 :', list1 == list3)

print('list1 > list2 :', list1 > list2)
print('list1 < list2 :', list1 < list2)
print('list1 < list3 :', list1 < list3)

list1 : [1, 2, 3, 4]
list2 : [1, 2, 3, 4]
list3 : [4, 3, 2, 1]
list1 == list2 : True
list1 == list3 : False
list1 > list2 : False
list1 < list2 : False
list1 < list3 : True

In [85]:
a = [1, 2, 3]

print('a =', a)

a[1] = 4
print('\na[1] = 4\na =', a)

a[1] = [1, 2, 3]
print('\na[1] = [1, 2, 3]\na =', a)

a[1:2] = [5, 6, 7]
print('\na[1:2] = [5, 6, 7]\na =', a)

a = [1, 2, 3]

a[1] = 4
a = [1, 4, 3]

a[1] = [1, 2, 3]
a = [1, [1, 2, 3], 3]

a[1:2] = [5, 6, 7]
a = [1, 5, 6, 7, 3]

In [90]:
list1 = [20, 10, 40, 50, 30]
print('list1 =', list1)

list1.sort()
print('list1.sort() =', list1)

list1.sort(reverse=True)
print('list1.sort(reverse=True) =', list1)

list1 = [20, 10, 40, 50, 30]
list1.sort() = [10, 20, 30, 40, 50]
list1.sort(reverse=True) = [50, 40, 30, 20, 10]

In [114]:
aa = [1, 2, 3]

print('aa =', aa)
aa.index(3)
print('aa.index(3) =', aa.index(3))
aa.index(1)
print('aa.index(1) =', aa.index(1))

aa.insert(0, 4)
print('\naa.insert(0, 4)\naa =', aa)

aa.insert(3, 5)
print('\naa.insert(3, 5)\naa =', aa)

aa.remove(3)
print('\naa.remove(3)\naa =', aa)

aa.pop(3)
print('\naa.pop(3)\naa =', aa)

aa = [1, 2, 3]
aa.index(3) = 2
aa.index(1) = 0

aa.insert(0, 4)
aa = [4, 1, 2, 3]

aa.insert(3, 5)
aa = [4, 1, 2, 5, 3]

aa.remove(3)
aa = [4, 1, 2, 5]

aa.pop(3)
aa = [4, 1, 2]

In [129]:
list1 = ['a', 'b', 'c', 'd']

print('list1 =', list1)
print('list1,pop() =', list1.pop())
print('list1 =', list1)

list2 = ['a', 'b', 'c', 'd']
print('\nlist2 =', list2)
print('list2.pop(1) =', list2.pop(1))

list3 = ['a', 'b', 'c', 'd']
print('\nlist3 =', list3)
print('list3[-1] =', list3[-1])
list3.remove(list3[-1])
print('list3.remove(list3[-1])\nlist3 =', list3)

list1 = ['a', 'b', 'c', 'd']
list1,pop() = d
list1 = ['a', 'b', 'c']

list2 = ['a', 'b', 'c', 'd']
list2.pop(1) = b

list3 = ['a', 'b', 'c', 'd']
list3[-1] = d
list3.remove(list3[-1])
list3 = ['a', 'b', 'c']

In [154]:
nlist = list(range(1, 11))
print(nlist)

nlist.insert(0,0)
print(nlist)

nlist.reverse()
print(nlist)

print('nlist의 마지막 원소 =', nlist.pop())
print('nlist = ', nlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
nlist의 마지막 원소 = 0
nlist =  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [167]:
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

print(a[4], a[2])

print(' '.join(a[:4]))

you too
Life is too short

In [171]:
aaa = [1, 3, 5, 4, 2]
print(aaa)

aaa.sort(reverse=True)
print(aaa)

bbb = [1, 2, 3, 4, 5]
print(bbb)

bbb.remove(2)
bbb.remove(4)
print(bbb)

[1, 3, 5, 4, 2]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[1, 3, 5]

In [198]:
t = ()
print(t)

t = (1)
print(t)

print(type(t))

t = (1,)
print(t)

print(type(t))

t = (1, 2, 3)
print(t)
print(type(t))

t = 1, 2, 3
print(t)
print(type(t))

t1 = ('c', 2, 'a', 'b')
print(t1)

n_list = [1, 2, 3, 4]
tuple4 = tuple(n_list)
print(tuple4)


a = (1)
b = (1,)
c = 1,

print(f"a = {a}, type(a) = {type(a)}")

print(f"b = {b}, type(b) = {type(b)}")

print(f"c = {c}, type(c) = {type(c)}")

()
1
<class 'int'>
(1,)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
('c', 2, 'a', 'b')
(1, 2, 3, 4)
a = 1, type(a) = <class 'int'>
b = (1,), type(b) = <class 'tuple'>
c = (1,), type(c) = <class 'tuple'>

In [208]:
t1 = (1, 2, 3)
t2 = t1 + t1
print(t2)
t3 = t1 * 3
print(t3)

t4 = t1 + (4,)
print(t4)

tp = ((1, 2), (3, 4), (5, 9))
print(tp)
print(tp[2])
print(tp[2][0])

tp1 = tuple([1,7,5,3,9])
print(tp1)

tp2 = tuple('hello')
print(tp2)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 4)
((1, 2), (3, 4), (5, 9))
(5, 9)
5
(1, 7, 5, 3, 9)
('h', 'e', 'l', 'l', 'o')

In [229]:
list_sum = list(range(1, 101))
print('1부터 100까지(list_sum)의 합:', sum(list_sum))
print('list_sum의 최소값:', min(list_sum))
print('list_sum의 최대값:', max(list_sum))

1부터 100까지(list_sum)의 합: 5050
list_sum의 최소값: 1
list_sum의 최대값: 100

In [232]:
t_fruits = ('banana', 'apple', 'watermelon')
print(t_fruits)
print(type(t_fruits))
l_fruits = list(t_fruits)
l_fruits[1] = 'kiwi'
t_fruits = tuple(l_fruits)
print(t_fruits)
print(type(t_fruits))

('banana', 'apple', 'watermelon')
<class 'tuple'>
('banana', 'kiwi', 'watermelon')
<class 'tuple'>

In [242]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(dic)

person = { '이름': '홍길동', '나이': 26, '몸무게': 82 }
print(person)
print(person['몸무게'])

person['주소'] = '서울시 강남구 삼성동'
print(person)

del person['주소']
print(person)

person['직업'] = '율도국의 왕'
print(person)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
{'이름': '홍길동', '나이': 26, '몸무게': 82}
82
{'이름': '홍길동', '나이': 26, '몸무게': 82, '주소': '서울시 강남구 삼성동'}
{'이름': '홍길동', '나이': 26, '몸무게': 82}
{'이름': '홍길동', '나이': 26, '몸무게': 82, '직업': '율도국의 왕'}

In [248]:
dic_a = {1: 'a'}
print(dic_a)

dic_a[2] = 'b'
print(dic_a)

dic_a['name'] = 'pey'
print(dic_a)

del dic_a[1]
print(dic_a)

{1: 'a'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{2: 'b', 'name': 'pey'}

In [251]:
score = {'pey': 10, 'julliet': 99}
print(score['pey'])
print(score['julliet'])

10
99

In [262]:
dic = {'이름': '홍길동', '나이': 26, '몸무게': 82, '직업': '율도국의 왕', '주소': '전라북도 부안군 위도'}

for key in dic:
    print(key,':', dic[key])


dic_items = dic.items()
print(dic_items)

for item in dic_items:
    (key, value) = item
    print(f'{key}: {value}')

이름 : 홍길동
나이 : 26
몸무게 : 82
직업 : 율도국의 왕
주소 : 전라북도 부안군 위도
dict_items([('이름', '홍길동'), ('나이', 26), ('몸무게', 82), ('직업', '율도국의 왕'), ('주소', '전라북도 부안군 위도')])
이름: 홍길동
나이: 26
몸무게: 82
직업: 율도국의 왕
주소: 전라북도 부안군 위도