In [ ]:
list1 = list(range(1, 101))  # 1부터 100까지의 정수 리스트

list2 = list(range(2, 101, 2))  # 2부터 100까지의 짝수 리스트

list3 = list(range(1, 100, 2))  # 1부터 99까지의 홀수 리스트

list4 = list(range(-99, 0))  # -99부터 -1까지의 정수 리스트

In [2]:
import numpy as np

np.arange(0, 10, 0.5)

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ,
       6.5, 7. , 7.5, 8. , 8.5, 9. , 9.5])

In [ ]:
for i in range(2, 5):
    print(i, end=" ")

print("\n")

for i in range(0, 10, 2):
    print(i, end=" ")

print("\n")

for i in range(-2, -10, -2):
    print(i, end=" ")

2 3 4

0 2 4 6 8

-2 -4 -6 -8

In [ ]:
test_list = ["one", "two", "three"]
for i in test_list:
    print(i)

A = [(1, 2), (3, 4), (5, 6)]
for first, last in A:
    print(first + last)

marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print(f"{number}번 학생은 합격입니다.")
    else:
        print(f"{number}번 학생은 불합격입니다.")

one
two
three
3
7
11
1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [17]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue
    print(f"{number}번 학생은 합격입니다.")

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print(f"{number + 1}번 학생은 합격입니다.")

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [27]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end=" ")
    print("")  # 줄 바꿈

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [29]:
for i in range(3):
    print("i =", i)
else:
    print("for문 종료")
for j in range(3):
    if j == 2:
        break
    print("j =", j)
else:
    print("for문 종료")

i = 0
i = 1
i = 2
for문 종료
j = 0
j = 1

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)
print("break")

for i in range(5):
    if i == 3:
        continue
    print(i)
print("continue")

0
1
2
break
0
1
2
4
continue

In [33]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        break
    print(i)
print("break")

i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)
print("continue")

1
2
break
1
2
4
5
continue

In [39]:
for _ in range(5):  # _는 사용하지 않는 변수
    print("Hello, Python!")

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [46]:
names = ["A", "B", "C"]

for x in range(len(names)):
    print(x, names[x])

for x, name in enumerate(names):
    print(x, name)

0 A
1 B
2 C
0 A
1 B
2 C

In [ ]:
names = ["A", "B", "C"]
scores = [70, 80, 90]

for name, score in zip(names, scores):
    print(name, score)

for name, score in enumerate(zip(names, scores)):
    print(name, score)

A 70
B 80
C 90
0 ('A', 70)
1 ('B', 80)
2 ('C', 90)

In [ ]:
A = [1, 2, 3, 4]

result1 = [num * 3 for num in A]
print(result1)

result2 = list(range(3, 13, 3))
print(result2)

result3 = [num * 3 for num in range(1, 5)]
print(result3)

# [표현식 for 항목 in 반복가능객체 if 조건식]
result4 = [num * 3 for num in A if num % 2 == 0]
print(result4)

[3, 6, 9, 12]
[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]

In [68]:
result5 = [x * y for x in range(2, 10) for y in range(1, 10)]
print(result5)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [70]:
for n in range(1, 101):
    print(n, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [78]:
sum1 = 0
for i in range(1, 1001):
    if i % 5 == 0:
        sum1 += i
print(f"1부터 1000까지의 5의 배수의 합: {sum1}")

sum2 = 0
for i in range(5, 1001, 5):
    sum2 += i
print(f"1부터 1000까지의 5의 배수의 합: {sum2}")

1부터 1000까지의 5의 배수의 합: 100500
1부터 1000까지의 5의 배수의 합: 100500

In [90]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum3 = 0
for score in A:
    sum3 += score
print(f"A학급 학생들의 평균 점수: {sum3 / len(A):.2f}")

A학급 학생들의 평균 점수: 79.00

In [ ]:
blood_type = ["A", "B", "A", "O", "AB", "AB", "O", "A", "B", "O", "B", "AB"]
# A형, B형, O형, AB형 혈액형의 수를 세는 코드

sumA = 0
sumB = 0
sumO = 0
sumAB = 0

for blood in blood_type:
    if blood == "A":
        sumA += 1
    elif blood == "B":
        sumB += 1
    elif blood == "O":
        sumO += 1
    elif blood == "AB":
        sumAB += 1

print(f"A형: {sumA}명")
print(f"B형: {sumB}명")
print(f"O형: {sumO}명")
print(f"AB형: {sumAB}명")


# 딕셔너리를 사용하여 혈액형의 수를 세는 코드
count = {"A": 0, "B": 0, "O": 0, "AB": 0}

for blood in blood_type:
    count[blood] += 1

print(f"A형: {count['A']}명")
print(f"B형: {count['B']}명")
print(f"O형: {count['O']}명")
print(f"AB형: {count['AB']}명")

A형: 3명
B형: 3명
O형: 3명
AB형: 3명
A형: 3명
B형: 3명
O형: 3명
AB형: 3명

In [97]:
numbers = [1, 2, 3, 4, 5]

result1 = []
for n in numbers:
    if n % 2 == 1:
        result1.append(n * 2)
print(result1)

# 리스트 내포(list comprehension)를 사용한 코드
result2 = [n * 2 for n in numbers if n % 2 == 1]
print(result2)

[2, 6, 10]
[2, 6, 10]

In [ ]:
def print_star(n):
    for i in range(n):
        print("*", end=" ")


def print_plus(n):
    for i in range(n):
        print("+", end=" ")


print_star(5)
print("\n")
print_plus(3)

* * * * *

+ + +

In [112]:
def get_sum(a, b):
    return a + b


def get_sub(a, b):
    return a - b


def get_mul(a, b):
    return a * b


def get_div(a, b):
    if b == 0:
        return
    else:
        return a / b


print(get_sum(3, 4))
print(get_sub(150, 20))
print(get_mul(6, 7))
print(get_div(10, 2))
print(get_div(5, 0))

7
130
42
5.0
None

In [115]:
def sum_sub_and_mul(a, b):
    return a + b, a - b, a * b


(sum1, sub1, mul1) = sum_sub_and_mul(5, 9)
print(f"합은 {sum1}, 차는 {sub1}, 곱은 {mul1}입니다.")

합은 14, 차는 -4, 곱은 45입니다.

In [122]:
def get_root(a, b, c):
    r1 = (-b + (b**2 - 4 * a * c) ** 0.5) / (2 * a)
    r2 = (-b - (b**2 - 4 * a * c) ** 0.5) / (2 * a)
    return r1, r2


# x^2 + 2x - 8 = 0의 해를 구하는 코드
result1, result2 = get_root(1, 2, -8)
print(f"해는 {result1}과 {result2}입니다.")
# x^2 + 2x - 8 = (x - 2)(x + 4) = 0의 해는 2, -4

해는 2.0과 -4.0입니다.

In [127]:
# 매개 변수의 기본 값은 가장 뒤의 인자부터 설정해야 한다.
# 기본 값을 설정하지 않은 인자는 기본값을 설정한 인자보다 앞에 위치해야 한다.
def div(a, b=2):
    return a / b


print(div(10))
print(div(10, 5))

5.0
2.0

In [131]:
def minus(a, b):
    result = a - b
    return result


a = minus(3, 7)
print(a)

a = minus(7, 3)
print(a)

a = minus(a=3, b=7)
print(a)

a = minus(b=3, a=7)
print(a)

-4
4
-4
4

In [135]:
def say():
    return "Hi!"


def minus2(a, b):
    print(f"{a}, {b}의 차는 {a - b}")


minus2(3, 7)

3, 7의 차는 -4

In [137]:
def print_sub(a, b):
    print(f"{a}과 {b}의 차는 {a - b}입니다.")


print_sub(10, 20)


def print_mult(a, b):
    print(f"{a}과 {b}의 곱은 {a * b}입니다.")


print_mult(10, 20)

10과 20의 차는 -10입니다.
10과 20의 곱은 200입니다.

In [141]:
def greet(*names):
    for name in names:
        print(f"안녕하세요 {name}씨")


greet("홍길동", "이순신", "강감찬")
greet("James", "Thomas")

안녕하세요 홍길동씨
안녕하세요 이순신씨
안녕하세요 강감찬씨
안녕하세요 James씨
안녕하세요 Thomas씨

In [143]:
def sum_many(*args):  # 여기서 args는 임의로 정한 변수명이므로 아무 이름이나 써도 됨
    sum = 0
    for i in args:
        sum = sum + i
    return sum


print(sum_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

55

In [145]:
def sum_mul(choice, *args):
    if choice == "sum":
        result = 0
        for i in args:
            result += i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    return result


print(sum_mul("sum", 1, 2, 3, 4, 5))
print(sum_mul("mul", 1, 2, 3, 4, 5))

15
120

In [162]:
def sum_nums(*args):
    sum = 0
    print(f"{len(args)}개의 인자 {args}")
    for i in args:
        sum += i
    print(f"합계 : {sum}, 평균 : {sum / len(args)}")


sum_nums(10, 20, 30)
print("\n")
sum_nums(10, 20, 30, 40, 50)

3개의 인자 (10, 20, 30)
합계 : 60, 평균 : 20.0


5개의 인자 (10, 20, 30, 40, 50)
합계 : 150, 평균 : 30.0

In [167]:
def min_nums(*args):
    min = args[0]
    for i in args:
        if min > i:
            min = i
    print(f"최소값은 {min}")


min_nums(20, 10, 40, 30, 50)

최소값은 10

In [ ]:
# *args (tuple)와 **kwargs (dictionary)를 사용한 예제
def func(*args, **kwargs):
    print(args)
    print(kwargs)


func(1, 2, 3, name="foo", age=3)

(1, 2, 3)
{'name': 'foo', 'age': 3}

In [3]:
def func(*data, **method):
    num = sum(data) * method["scale"]
    print(num, method["unit"] + "입니다.")


func(3, 4, 5, scale=10, unit="개")

120 개입니다.

In [7]:
def func(*data, message, **method):
    print(message)

    num = sum(data) * method["scale"]
    print(num, method["unit"] + "입니다.")


func(3, 4, 5, message="계산된 값입니다.", scale=10, unit="개")

계산된 값입니다.
120 개입니다.

In [8]:
def func(message1, message2, *data, **method):
    print(message1)
    print(message2)

    num = sum(data) * method["scale"]
    print(num, method["unit"] + "입니다.")


func("계산된 값입니다.", "값이 10배 커집니다.", 3, 4, 5, scale=10, unit="개")

계산된 값입니다.
값이 10배 커집니다.
120 개입니다.

In [10]:
def say_myself(name, old, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {old}입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")


say_myself("홍길동", 20)
say_myself("춘향", 17, False)

나의 이름은 홍길동입니다.
나이는 20입니다.
남자입니다.
나의 이름은 춘향입니다.
나이는 17입니다.
여자입니다.

In [ ]:
a = 1


def vartest(a):
    a = a + 1


vartest(a)
print(a)  # 1이 출력됨. vartest() 함수에서 a의 값은 지역변수로 사용됨

1

In [ ]:
a = 1


def vartest(a):
    a = a + 1
    return a


a = vartest(a)
print(a)  # 2가 출력됨. vartest() 함수에서 a의 값은 지역변수로 사용됨

2

In [ ]:
a = 1


def vartest():
    global a  # 전역변수 a를 사용하겠다고 선언
    a = a + 1  # 전역변수 a의 값을 변경


vartest()
print(a)  # 2가 출력됨. vartest() 함수에서 a의 값은 전역변수로 사용됨

2

In [ ]:
def print_sum():
    global a, b
    a = 100
    b = 200
    result = a + b
    print(f"print_sum() 내부: {a}, {b}의 합은 {result}입니다.")
    a = 10


b = 20
print_sum()
result = a + b
print(f"print_sum() 외부: {a}, {b}의 합은 {result}입니다.")

print_sum() 내부: 100, 200의 합은 300입니다.
print_sum() 외부: 10, 200의 합은 210입니다.

In [ ]:
# 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수 is_odd()를 작성하시오.


def is_odd(number):
    if number % 2 == 0:
        return False
    else:
        return True


is_odd(3)

True

In [ ]:
# 입력으로 들어오는 모든 수의 평균값을 계산해주는 함수를 작성해보자.


def average(*args):
    sum = 0
    for i in args:
        sum += i
    return sum / len(args)


average(1, 4, 2, 3, 100)

22.0

In [ ]:
# 입력을 자연수 n(2부터 9까지의 자연수)으로 받았을 때, n에 해당되는 구구단을 출력하는 함수를 작성해보자.


def times_table(n):
    for i in range(1, 10):
        print(f"{n} x {i} = {n * i:2d}")


times_table(3)
times_table(7)

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [ ]:
from math import ceil

print(ceil(3.14))

4

In [ ]:
import datetime

datetime.datetime.now()  # 현재 날짜와 시간 출력

today = datetime.datetime.now()

print(today.year)
print(today.month)
print(today.day)
print(today.hour)
print(today.minute)

2025
4
3
16
27

In [173]:
"abc".replace("b", "x")

'axc'