In [ ]:
sum1 = lambda a, b: a + b  # noqa: E731
sum1(3, 4)

7

In [13]:
my_list = [lambda a, b: a + b, lambda a, b: a * b]
my_list[0](3, 4)
my_list[1](5, 6)

print(my_list)

[<function <lambda> at 0x000001CF2BF96CA0>, <function <lambda> at 0x000001CF2BF95800>]

In [ ]:
add = lambda a, b: a + b  # noqa: E731

print(f"100과 123의 합: {add(100, 123)}")

print(f"12와 34의 곱: {(lambda a, b: a * b)(12, 34)}")

100과 123의 합: 223
12와 34의 곱: 408

In [31]:
f = [lambda x: x + 1, lambda x: x + 2, lambda x: x + 3]

print(f[0](1))
print(f[1](3))
print(f[2](7))

2
5
10

In [ ]:
def sub(a, b):
    return a - b


print(f"200 - 100 = {sub(200, 100)}")

200 - 100 = 100

In [ ]:
sub = lambda a, b: a - b  # noqa: E731

print(f"200 - 100 = {sub(200, 100)}")

200 - 100 = 100

In [40]:
f = lambda x: x > 0  # noqa: E731


# filter() 함수는 첫 번째 인자로 주어진 함수를 두 번째 인자로 주어진 iterable 객체의 각 요소에 적용하여 True인 요소만 남긴다.
print(list(filter(f, range(-5, 5))))

[1, 2, 3, 4]

In [ ]:
def func(x):
    if x > 0:
        return x
    else:
        return x - 100


print(list(filter(func, range(-5, 5))))

# 필터 함수에서 사용되는 함수는 논리값을 반환하는 함수로 인지함
# 그러므로, 반환값이 0이 아닌 모든 값은 True값으로 간주하게 됨
# 결국 어떤 반환 형태도 0을 반환하지 않으므로 모두 다 True 값이 되어, 범위를 그대로 반환하게 됨

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
ages = [34, 39, 20, 18, 13, 54]


def adult_func(n):
    if n >= 19:
        return True
    else:
        return False


print("성년 리스트 :", end=" ")
for a1 in filter(adult_func, ages):
    print(a1, end=" ")

성년 리스트 : 34 39 20 54

In [ ]:
ages = [34, 39, 20, 18, 13, 54]

print("성년 리스트 :", end=" ")
for a1 in filter(lambda n: n >= 19, ages):
    print(a1, end=" ")

성년 리스트 : 34 39 20 54

In [ ]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = []


def minus_func(n):
    if n < 0:
        return True
    else:
        return False


for n in filter(minus_func, n_list):
    minus_list.append(n)

print(f"음수 리스트 : {minus_list}")

음수 리스트 : [-30, -5, -90, -36]

In [53]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = []


for n in filter(lambda n: n < 0, n_list):
    minus_list.append(n)

print(f"음수 리스트 : {minus_list}")

음수 리스트 : [-30, -5, -90, -36]

In [11]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = []


for n in filter(lambda n: n % 2 == 0, n_list):
    even_list.append(n)

print(f"1) even_list = {even_list}")

even_list.clear()

print(f"even_list = {even_list}")

even_list = list(filter(lambda n: n % 2 == 0, n_list))

print(f"2) even_list = {even_list}")

1) even_list = [2, 4, 6, 8, 10]
even_list = []
2) even_list = [2, 4, 6, 8, 10]

In [10]:
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_list = []

for n in filter(lambda n: n % 2 != 0, n_list):
    odd_list.append(n)

print(f"1) odd_list = {odd_list}")

odd_list.clear()

print(f"odd_list = {odd_list}")

odd_list = list(filter(lambda n: n % 2 != 0, n_list))

print(f"2) odd_list = {odd_list}")

1) odd_list = [1, 3, 5, 7, 9]
odd_list = []
2) odd_list = [1, 3, 5, 7, 9]

In [ ]:
a1 = [1, 2, 3, 4, 5, 6, 7]
square_a = []

for n in a1:
    square_a.append(n**2)

print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
def square(x):
    return x**2


a1 = [1, 2, 3, 4, 5, 6, 7]

square_a = list(map(square, a1))

print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
a1 = [1, 2, 3, 4, 5, 6, 7]

square_a = list(map(lambda x: x**2, a1))

print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
a_list = ["a", "b", "c", "d"]


def to_upper(x):
    return x.upper()


upper_a_list = list(map(to_upper, a_list))
print(upper_a_list)

['A', 'B', 'C', 'D']

In [7]:
a_list = ["a", "b", "c", "d"]

upper_a_list = list(map(lambda x: x.upper(), a_list))
print(upper_a_list)

['A', 'B', 'C', 'D']

In [13]:
n_list = [10, 20, 30]


def twice(x):
    return x * 2


def triple(x):
    return x * 3


print(f"입력 값의 두 배 : {list(map(twice, n_list))}")
print(f"입력 값의 세 배 : {list(map(triple, n_list))}")

입력 값의 두 배 : [20, 40, 60]
입력 값의 세 배 : [30, 60, 90]

In [14]:
n_list = [10, 20, 30]

print(f"입력 값의 두 배 : {list(map(lambda x: x * 2, n_list))}")
print(f"입력 값의 세 배 : {list(map(lambda x: x * 3, n_list))}")

입력 값의 두 배 : [20, 40, 60]
입력 값의 세 배 : [30, 60, 90]

In [2]:
L1 = ["A", "B", "C", "D"]
L2 = ["가", "나", "다", "라"]

for i, j in zip(L1, L2):
    print(i, j)

A 가
B 나
C 다
D 라

In [ ]:
from functools import reduce

a1 = [1, 2, 3, 4]

n = reduce(lambda x, y: x + y, a1)

print(n)

10

In [10]:
sum1 = reduce(lambda a, b: a + b, range(1, 101))
print(f"1부터 100까지의 합 = {sum1}")

1부터 100까지의 합 = 5050

In [11]:
factorial1 = reduce(lambda x, y: x * y, range(1, 11))

print(f"10! = {factorial1}")

10! = 3628800

In [3]:
L3 = [i**2 for i in range(10)]

print(L3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
L4 = [i**2 for i in range(10) if i > 5 and i % 2 == 0]
print(L4)

L5 = [i**2 if i < 5 else i for i in range(10)]
print(L5)

[36, 64]
[0, 1, 4, 9, 16, 5, 6, 7, 8, 9]

In [ ]:
a1 = [1, 2, 3, 4, 5, 6, 7]
list1 = [x**2 for x in a1]
print(list1)

list2 = [x**2 for x in range(1, 8)]
print(list2)

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

In [10]:
st = "Hello World"
s_list = [x.upper() for x in st]
print(s_list)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [22]:
data = [0, 7, 6, 9, 2, 3]

T = tuple(i for i in data)
print(T)

(0, 7, 6, 9, 2, 3)

In [25]:
text = "YUNDAEHEE"

S1 = set(i for i in text)
print(S1)

S2 = set([i for i in text])
print(S2)

{'A', 'Y', 'N', 'D', 'H', 'U', 'E'}
{'A', 'Y', 'N', 'D', 'H', 'U', 'E'}

In [ ]:
ages = [34, 39, 20, 18, 13, 54]

adult_ages = list(filter(lambda n: n >= 19, ages))
print(f"성년 리스트 : {adult_ages}")

print(f"성년 리스트 : {[n for n in ages if n >= 19]}")

성년 리스트 : [34, 39, 20, 54]
성년 리스트 : [34, 39, 20, 54]

In [29]:
n_list = [-30, 45, -5, -90, 20, 53, 77, -36]
minus_list = list(filter(lambda n: n < 0, n_list))
print(f"음수 리스트 : {minus_list}")

minus_list2 = [n for n in n_list if n < 0]
print(f"음수 리스트 : {minus_list2}")

음수 리스트 : [-30, -5, -90, -36]
음수 리스트 : [-30, -5, -90, -36]